<hr></hr>
<h3>Detail Product</h3>
<hr></hr><br />
  <table>
    <tr>
      <td>Name</td>
      <td> : </td>
      <td> <%= @product.name %></td>
    </tr>
    <tr>  
      <td>Price</td>
      <td> : </td>
      <td><%= @product.price %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td> : </td>
      <td><%= @product.description %></td>
    </tr>
    <tr>
      <td>Weight</td>
      <td> : </td>
      <td><%= @product.weight %></td
    </tr>
  </table>
  <br />  <br />
  <%= link_to 'Back', root_url %>
